body, textarea {
	font-size: large;
}

textarea {
	width: 99.5%;
	height: 20em;
	resize: none;
}

.post-buttons {
	margin: 0.2em 0;
}

footer {
	position: fixed;
	bottom: 0.1em;
	width: 100%;
	text-align: center;
}