:root {
	--secondary-colour: light-dark(rgb(64, 123, 170), rgb(166, 206, 240));
	color-scheme: light dark;
}

:root:has(input[id="dark"]:checked) {
	color-scheme: dark;
}

:root:has(input[id="light"]:checked) {
	color-scheme: light;
}

body, textarea {
	font-size: large;
}

body {
	font-family: monospace;
}

textarea {
	width: 99.5%;
	height: 11em;
	margin-bottom: 0.4em;
}

img {
	border-radius: 0.25em;
}

input[type="radio"] {
	accent-color: var(--secondary-colour);
}

a {
	text-decoration: none;
	color: var(--secondary-colour);
	display: inline-block;
}

a:hover {
	text-decoration: underline;
}

.change-theme div, li {
	line-height: 1.6;
}

footer {
	background-color: canvas;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
