:root {
	color-scheme: light dark;
}

body, textarea {
	font-size: large;
}

body {
	font-family: monospace;
}

textarea {
	width: 99.5%;
	height: 11em;
	resize: none;
}

div {
	margin-top: 0.2em;
}

a {
	text-decoration: none;
	color: light-dark(rgb(74, 148, 207), rgb(148, 196, 236));
}

a:hover {
	text-decoration: underline;
}

.change-theme div, .note {
	line-height: 1.6;
}

footer {
	background-color: canvas;
	position: fixed;
	bottom: 0.1em;
	width: 100%;
	text-align: center;
}