:root {
	--background-colour: light-dark(rgb(237, 237, 237), rgb(28, 27, 34));
	--secondary-colour: light-dark(rgb(58, 109, 151), rgb(166, 206, 240));
	color-scheme: light dark;
}

:root:has(input[id="dark"]:checked) {
	color-scheme: dark;
}

:root:has(input[id="light"]:checked) {
	color-scheme: light;
}

::selection {
	background-color: var(--secondary-colour);
	color: light-dark(white, black);
}

body, textarea {
	font-size: large;
}

img, span {
	border-radius: 0.2em;
}

body {
	background-color: var(--background-colour);
	font-family: monospace;
}

span {
	background-color: light-dark(rgb(206, 206, 206), rgb(73, 73, 73));
	padding: 0.2%;
}

textarea {
	width: 99.5%;
	height: 11em;
	margin-bottom: 0.4em;
}

input[type="radio"] {
	accent-color: var(--secondary-colour);
}

a {
	text-decoration: none;
	color: var(--secondary-colour);
	display: inline-block;
}

a:hover {
	text-decoration: underline;
}

img:hover {
	opacity: 0.65;
}

.change-theme div, li {
	line-height: 1.6;
}

.emoji-hotkeys, .emoji-hotkeys li {
	list-style-type: none;
	line-height: 2.45;
}

footer {
	background-color: var(--background-colour);
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}
